main .new-hero {
    justify-items: center;
}

main .last-videos .last-videos-img{
    margin: auto;
}

main .last-videos .videos .all-videos {
    height: 240px;
}

main .last-videos .last-videos-img img{
    width: 300px;
}